<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} | {{ site.title }}</title>

    {% seo %}

    <!-- Charger le CSS du thème Cayman -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>

    <section class="page-header">
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>

      <nav>
        {% for item in site.nav %}
          <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        {% endfor %}
      </nav>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner">
          © {{ site.time | date: "%Y" }} {{ site.title }}
        </span>
      </footer>
    </section>

  </body>
</html>
